{{ form_start(form) }}
    {{ form_row(form.score, {label: 'Note'}) }}
    {{ form_row(form.comment, {label: 'Commentaire'}) }}
    {{ form_row(form.recipe, {label: 'Recette'}) }}
    {{ form_row(form.userId, {label: 'IdUser'}) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
